/* CSS navbar */
nav{
	box-shadow: 0px .5px 5px darkgray;
}
#button{
	transition: .3s;
}
#menubar{
    background-color: red;
}
.navbar-brand h3{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navbar{
	background: rgb(0,0,0,0.2);
	position: fixed;
	width: 100%;	
	top: 0;
	z-index: 99;
}
a#menu{
	color:#4775A3;
	transition: .2s ease-in-out;
}
a#menu:hover{
	color:rgba(115, 132, 149, 0.5);
}
#navbarTogglerDemo02,#masuk1,#masuk2{
	font-size:12px;
	color: red;
}
form>ul.navbar-nav{
    font-size: 14px;
}
form>ul>li:nth-of-type(2){
    text-decoration: underline;
}

/*CSS /navbar */

/* jumbotron */
.jumbotron{
	background-attachment: fixed;
	height: 600px;
	animation: mymove 50s infinite;
}
.kotak-search>form{
	border-radius: 5px;
	padding: 5px;
	background: #336699;
}
form>input#input-1{
		padding: 24px 100px;
}
	form>input#input-2{
		padding: 24px 30px;
}
	form>input#input-3{
		padding: 24px 40px;
}
form>input.cari{
	background:#86BBD8;
	padding: 24px 48px;
	transition: .3s;
}
form>input.cari:hover{
	background: #3584EB;
}
.kotak-search>form>input{
	border-radius: 5px;
}
.kotak-search>form>input:focus{
	outline: none;
}

@keyframes mymove{
	0% {background-image: url('../img/hero1.jpg');}
	25% {background-image: url('../img/hero2.jpg');}
	50% {background-image: url('../img/hero3.jpg');}
	75% {background-image: url('../img/hero4.jpg');}
	100% {background-image: url('../img/hero1.jpg');}
}

/*subheading*/
/*.container>.subheading{
	margin-top: 3em;
	display: flex;
	background-color: red;
}
.subheading>h3,h5{
	align-self: center;
	font-weight: bold;
}
.subheading>h5{
	margin: auto;
}*/

 /* /jumbotron */












/*versi notebook*/
@media (max-width: 1220px){
	form>input#input-1{
		padding: 24px 60px;
	}
	form>input#input-2{
		padding: 24px 10px;
	}
	form>input#input-3{
		padding: 24px 20px;
	}
}


	/*versi mobile  */
@media (max-width:999px){
	.jumbotron{
		padding-top:250px;
		height: 700px;
	}
/*	.jumbotron>.container{
		margin-top: 200px;
	}*/
	.jumbotron>.container>h1{
		display: inline;
		font-size: 38px;
	}
	.jumbotron>.container>p{
		font-size: 16px;
	}
	.container>#title{
		margin-top:50px;
	}
	.kotak-search{
		position: initial;
	}
	.kotak-search>form{
		background: transparent;
	}
	.kotak-search>form>input{
		background: rgb(225,225,225,0.7);
		border-radius: 20px;
		box-shadow: 0px 0px 5px #336699;
	}
	form>input.cari{
		background-color: #3584EB;
		box-shadow: none;
	}
	form>input.cari:hover{
		background: #86BBD8;
	}
	form>input#input-1,form>input#input-2,form>input#input-3{
		width:86%;
		height: 16px;
		margin:5px 0;
	}
	form>input.cari{
		margin:15px 0;
		padding: 16px 48px;
	}

}