/* CSS navbar */
nav{
	box-shadow: 0px .5px 5px darkgray;
}
#button{
	transition: .3s;
}
#menubar{
    background-color: red;
}
.navbar-brand h3{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navbar{
	background: rgb(0,0,0,0.2);
	position: fixed;
	width: 100%;	
	top: 0;
	z-index: 99;
}
a#menu{
	color:#4775A3;
	transition: .2s ease-in-out;
}
a#menu:hover{
	color:rgba(115, 132, 149, 0.5);
}
#navbarTogglerDemo02,#masuk1,#masuk2{
	font-size:12px;
	color: red;
}
form>ul.navbar-nav{
    font-size: 14px;
}
form>ul>li:nth-of-type(2){
    text-decoration: underline;
}

/*CSS /navbar */

/* jumbotron */
.jumbotron{
	background-attachment: fixed;
	height: 600px;
	animation: mymove 50s infinite;
}
@keyframes mymove{
	0% {background-image: url('../img/hero1.jpg');}
	25% {background-image: url('../img/hero2.jpg');}
	50% {background-image: url('../img/hero3.jpg');}
	75% {background-image: url('../img/hero4.jpg');}
	100% {background-image: url('../img/hero1.jpg');}
}
.kotak-search>form{
	border-radius: 5px;
	padding: 5px;
	background: #336699;
}
form .input-icon{
	display: inline-block;
	position:relative;
}
form input+i{
  position:absolute;
  left:20px;
  top:28px;
  color:#BBBBBB;
}
form input:focus+i{color:#0099ff;
}
form>div>input#input-1{
		padding: 24px 100px;
}
	form>div>input#input-2{
		padding: 24px 30px;
}
	form>div>input#input-3{
		padding: 24px 40px;
}
form>input.cari{
	background:#86BBD8;
	padding: 24px 48px;
	transition: .2s ease;
}
form>input.cari:hover{
	background: #3584EB;
}
.kotak-search>form>div>input{
	border-radius: 5px;
	color: #444;
}
.kotak-search>form>div>input::placeholder{
	color: #999999;
}
.kotak-search>form>div>input:focus{
	outline: none;
}

 /* /JUMBOTRON */

	/*container*/
.container>#subheading{
	border-left: 8px solid #336699;
	color: #2F4858;
}

/*destinasi populer*/
div.col-md>.card>a>.card-body{
	background: rgb(0,0,0,.5);
	transition: .5s ease;
	cursor: pointer;
}
div.col-md>.card>a>.card-body:hover{
	background-color: initial;
}
/*carousel*/
.carousel-item>.row>.img-carousel{
  margin: 0 0.5%;
  padding: 0;
}
.carousel-item>.row>.img-carousel>a{
  text-align: center;
  color:#2F4858;
  margin: 0;
  text-transform: capitalize;
}
.img-carousel img:hover{
	filter: brightness(50%);
}
.img-carousel>a>h5{
	font-size: 18px;
}
.rekomendasi-hotel>.carousel-control-prev,
.rekomendasi-hotel>.carousel-control-next{
    width: 0%;
}
.rekomendasi-hotel>.carousel-control-prev>.fa-angle-left,
.rekomendasi-hotel>.carousel-control-next>.fa-angle-right{
  color: #396B9A;
  margin-top: -20px;
  background: #fff;
  padding: 14px 20px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px black;
}
/*tour domestik*/
div.tour-domestik>.card img{
	border-radius: 10px;
	cursor: pointer;
}
div.tour-domestik>.card img:hover{
	filter:brightness(50%);
}
div.tour-domestik>.card img:active{
	filter: brightness(75%);
}
div.tour-domestik>.card>a{
	background: initial;
	color : #2F4858;
	cursor: pointer;
	transition: .3s ease;
}
.row>div.tour-domestik>.card>a:hover{
	color: rgb(79,123,168);
}
/*tour lainnya*/
.tour-lainnya>ol.carousel-indicators{
    top: -50px;
    z-index: initial;
 }
 .tour-lainnya>ol.carousel-indicators>li{
    background-color: #336699;
    height: 8px;
    width: 35px;
 }
ol.indikator-tl li{
  opacity: 0;
 }
 div.tour-lainnya>div>div>.row>div>div>a{
	color: #3E5564;
}
div.tour-lainnya>div>div>.row>div>div>a:hover{
	transition: .5s ease;
	transform: scale(1.1);
	z-index: 4;
	color: rgb(79,123,168);
}
 .tour-lainnya>.carousel-control-prev,
 .tour-lainnya>.carousel-control-next{
 	width: 10%;
 	transition: .5s ease;
 }
.tour-lainnya>.carousel-control-next:hover{
	background: linear-gradient(to right, rgba(0,0,0,.1),rgba(0,0,0,.8));
	width: 10%;
}
.tour-lainnya>.carousel-control-prev:hover{
    background: linear-gradient(to left, rgba(0,0,0,.1),rgba(0,0,0,.8));
	width: 10%;	
}
/*/CONTAINER*/

/*before blog*/
.before-blog>div>div>div.carousel-item div{
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
	filter: brightness(90%);
	height: 350px; 
	width: 100%;
}
 /*blog*/
 .blog>div>div>div>a>div h6{
 	font-size: 0.9rem;
 	color: #3B5261;
 }
 .blog>div>div>div>a>div h6:hover{
 	color: rgb(79,123,168);
 }

 /*FOOTER*/
 footer>div>div>div>div a{
 	color: #8B8B8B;
 }

/*----------------------------------------------------------------------------POSTINGAN----------------------------------------------------------------------------*/

.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
	display: grid;
	grid-template-areas:
	'header header header header header header'
	'main main main main right right'
	'footer footer footer footer footer footer';
	grid-gap: 10px;
	background-color: #2196F3;
	padding: 10px;
}

.grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

/*----------------------------------------------------------------------------/POSTINGAN----------------------------------------------------------------------------*/



/*versi notebook*/
@media (max-width: 1220px){
	/*jumbotron*/
	form>div>input#input-1{
		padding: 24px 60px;
	}
	form>div>input#input-2{
		padding: 24px 10px;
	}
	form>div>input#input-3{
		padding: 24px 20px;
	}
	/*container*/

}


	/*versi mobile  */
@media(max-width:999px){
	.jumbotron{
		padding-top:250px;
		height: 700px;
	}
	.jumbotron>.container>h1{
		display: inline;
		font-size: 38px;
	}
	.jumbotron>.container>p{
		font-size: 16px;
	}
	.container>#title{
		margin-top:50px;
	}
	.kotak-search{
		position: initial;
	}
	.kotak-search>form{
		background: transparent;
	}
	.kotak-search>form>div>input{
		background: rgb(225,225,225,0.7);
		border-radius: 20px;
		box-shadow: 0px 0px 5px #336699;
	}
	form .input-icon{
		display: initial;
	}
	form>div>input+i{
		top: 4px;
	}
	form>input.cari{
		background-color: #3584EB;
		box-shadow: none;
		border-radius: 20px;
	}
	form>input.cari:hover{
		background: #86BBD8;
	}
	form>div>input#input-1,form>div>input#input-2,form>div>input#input-3{
		width:86%;
		padding:12px 0px; 
		margin:5px 0;
	}
	form>input.cari{
		margin:15px 0;
		padding: 16px 48px;
	}
	/* /jumbotron*/

	/*container*/
	.container>#subheading>h3{
		font-size: 18px;
	}
	.container>#subheading>h5{
		font-size: 12px;
	}
	.img-carousel>a>h5{
		font-size: 15px;
	}
	.fa-angle-left,.fa-angle-right{
		padding: 5px 10px;
		margin-top: -14px;
	}
	.rekomendasi>.row>div:nth-of-type(1){
		display: none;
	}
	div.tour-domestik{
		padding: .20rem!important;
	}
	div.tour-domestik a>div>h4{
		font-size: 1rem;
	}
	section.sect-2>h3{
		font-size: 18px;
		margin-bottom: 2rem!important;
	}
	.tour-lainnya>ol.carousel-indicators{
		top: -35px;
	}
	div.tour-lainnya>div>div>div>div.col-4{
		padding: 0px!important;
	}
	div.tour-lainnya>div>div>.row>div>div>a h4{
		font-size: 1rem;
		margin-bottom: .5rem!important;
		margin-top: 0!important;
	}
	/*/container*/
	
}

/*medium*/
@media (max-width: 800px){
	.img-carousel>a>h5{
		font-size: 12px;
	}
	/*before blog*/
	.before-blog>div>div>div.carousel-item div{
		height: 200px;
	}
	/*blog*/
	.blog>div>div>div>a>div h6{
 	font-size: 0.7rem;
 }
}

/*small*/
@media (max-width: 600px){
	.img-carousel>a>h5{
		font-size: 12px;
	}
	.rekomendasi>.row>div:nth-of-type(1), .rekomendasi>.row>div:nth-of-type(2){
		display: none;
	}
	div.tour-domestik a>div>h4{
		font-size: .7rem;
	}
	div.tour-lainnya>div>div>.row>div>div>a h4{
		font-size: .7rem;
	}
}

/*ext small*/
@media (max-width: 400px){
	div.tour-domestik a>div>h4{
		font-size: .5rem;
	}
	/*blog*/
	.blog>div>div>div>a>div h6{
 	font-size: 0.5rem;
 }
}